<div class="app-main">
  <div class="app-main-header">
    <div class="app-main-container">
      <div app-header></div>
    </div>
  </div>

  <div class="app-main-body">
    <div class="app-main-container">
      <div class="app-main-viewport">
        <div app-view class="app-main-view"></div>
      </div>
    </div>
  </div>

  <div class="app-main-footer">
    <div class="app-main-container">
      <div app-footer></div>
    </div>
  </div>


  <div class="app-main-overlay">
    <div app-log></div>
  </div>
</div>
